venv/
.venv/
env/
.env

.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
*.so

*.db
*.sqlite
*.sqlite3

.coverage
htmlcov/
.tox/
.nox/

.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.pyright/

.vscode/
.idea/
*.swp
*.swo
*~

.pids/
*.pid

.logs/
*.log

.streamlit/config.toml
.streamlit/secrets.toml

data/
.DS_Store

deployed/
dist/
build/
*.egg-info/